@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-basic"]:before,
[class*=" icon-basic"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

/*
Firstly, this is a lot of comments.
This is because the below is acting
as my NOTES for SASS and CSS.
As such, things are way over explained.

Also, the directory is intended for large projects.
This is super overkill for a small project like this one,
but it's always good to start with a solid architecture
you can build on easily. Based on 7:1 Principle.
 */
/*
0-600px : Phone
600px - 900px: tablet portrait
900-1200px: tablet landscape
[1200-1800px] is normal styles
1800px+ - large desktop.
 */
/*
    $breakpoint choices
    - phone
    - tab-port
    - tab-land
    - big-desktop
 */
.section-about {
  background-color: #f7f7f7;
  padding: 35rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 25rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 20rem 0 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 70%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url(../img/nat-10.jpg); } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg); } }

/* Reset. This is needed so each browser renders the same
This universal selector, * will select every element


*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* This is where you specify the root font size
Using REM for design makes it really easy to make mobile versions of a site
Using font size of 10 now makes it easy to convert px to REM in your head.
This is the same as 62.5%. It's better to use percentages for accessibility reasons

Not supported below IE9.
*/
html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

/* There are two types of animations
1) Just use the transition property, and change the properties
2) Advanced animations

For browser performance, it's best to only animate 2 properties:
1) opacity
2) transform property

X% - X% of the way through the animation
0% - this is before the start of the animation


*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  90% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  90% {
    transform: translateX(-1rem); }
  /*This should match the ending condition of the object.*/
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(12rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Element Types: (modified by property display)
inline: Displays an element as an inline element (i.e. same line), taking up as much height/width as the content
Any height or width specifications have no effect

inline-block: Same thing as inline, but you can specify height and width

block: starts on a new line, takes up the whole width of the parent element

Good source: https://www.samanthaming.com/pictorials/css-inline-vs-inlineblock-vs-block/
*/
.heading-primary {
  color: #FFFFFF;
  text-transform: uppercase;
  /* Fixes the shakiness with animations.
     This determines if the back part of an element is visible or not to the user.
     As long as you aren't flipping objects, this should fix some shakes with animations
   */
  backface-visibility: hidden;
  margin-bottom: 2rem;
  /* Suppose we wanted an animation on a different event, like hover
.logo:hover {
    animation: moveInLeft 1s ease-out;
}
 */
  /*The letter spacing and stuff is trial and error
Edited in the dev tools in Chrome*/ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.0s;
    /* will happen 3 times
    animation-iteration-count: 3;
    */
    /* changes the speed through the animation
        can use cubic-benzier function here as well
    */
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.74rem;
    /*animation-name: moveInRight;*/
    /*animation-duration: 1.0s;*/
    /*animation-timing-function: ease-out;
    this is the same as:
    */
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem;
        font-size: 1.5rem; } }

/* Setting default font - will be helpful due to inheritance
line-height means 1.7x the regular line height
The padding sets that border around the page

Box-sizing as border box
By Default, width + padding + border = actual width,
height + padding + border = actual height

By setting to border-box, the width/height property includes
padding and border sizes

https://www.w3schools.com/css/css3_box-sizing.asp
*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.btn {
  /* This is a psuedo class that lets you style an element under specific conditions
link is function of an anchor element, where the button acts as a link. (blue and underlined by default)
visited is the state when the anchor element was already clicked before. (purple and underlined by default)

Button is inline by default. should be inline block. Since its inline, it's treated like text.
So, to center it, we can do text-align to center.

A really high border radius will create rounded courners. No difference between different large values

Simple version of transition. ALL elements will be transitioned for .2 seconds. Transition must be on the initial state.
 */
  /* y-axis moves from top to bottom

 black box shadow is 10px in the downward direction with a high blur and .2 opacity*/
  /* must always specify a content and display
  This pseudo element is treated as a child of the button.

  Absolute positions need a reference, and that will always be the first
  parent element it can find with relative positioning.

  If we didn't change the button value to have relative positioning,
  this would have been the header

  z-index by default. -1 is behind other objects.
*/
  /* .75s delay
 fill-mode - apply the styles of the 0% before the animation starts.
 */ }
  .btn, .btn:link, .btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    font-size: 1.6rem;
    position: relative;
    transition: all .2s;
    border: none;
    cursor: pointer; }
  .btn--white {
    background-color: #FFFFFF;
    color: #777; }
    .btn--white::after {
      background-color: #FFFFFF; }
  .btn--green {
    background-color: #55c57a;
    color: #FFFFFF; }
    .btn--green::after {
      background-color: #55c57a; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /* after pseudo element only during the hover state
   Opacity 0 means fading out.
   */ }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--animated {
    animation: moveInUp .5s ease-out .75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px 0;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  background-color: #55c57a;
  color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          left: 0; } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          left: -1rem;
          transform: scale(1.3);
          z-index: 4; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 6rem rgba(0, 0, 0, 0.5);
      z-index: 1; }
    @media (max-width: 56.25em) {
      .composition__photo {
        position: relative;
        float: left;
        width: 33.33333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .2s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin: 0 0 .5rem 0;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    color: transparent;
    -webkit-background-clip: text; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        padding: 0; } }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #FFFFFF; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-position: top;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20rem, 0 23rem);
    clip-path: polygon(0 0, 100% 0, 100% 20rem, 0 23rem);
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 70%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: solid 0.1rem #eeeeee; }
  .card__call-to-action {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem;
    color: #FFFFFF; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      position: relative;
      height: auto;
      border-radius: 3px;
      background-color: #FFFFFF;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0deg);
          clip-path: polygon(0 3rem, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card:hover .card__side--back {
        transform: rotateY(0); }
      .card__call-to-action {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 4rem; }
      .card__price-box {
        margin-bottom: 3rem; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: .3rem;
  padding: 6rem;
  transform: skewX(-12deg);
  font-size: 1.6rem; }
  .story:not(:first-child) {
    margin-top: 6rem; }
  .story > * {
    transform: skewX(12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0deg); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: skewX(12deg) translateX(-2rem) translateY(-1rem) !important;
    overflow: hidden;
    position: relative;
    webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: skewX(0deg) translateX(-2rem) translateY(-1rem) !important; } }
  @media (max-width: 37.5em) {
    .story__text {
      transform: skewX(0deg) !important; } }
  .story__img {
    height: 100%;
    transform: scale(1.4) translateX(calc((-1 * (100% - 15rem)/2) / 1.4));
    backface-visibility: hidden;
    transition: all .2s; }
  .story__caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0;
    transition: all .2s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1) translateX(calc((-1 * (100% - 15rem)/2) / 1.0));
    filter: blur(3px) brightness(90%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 15%;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: .2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  color: inherit;
  border-bottom: .3rem solid transparent;
  display: block;
  width: 90%;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem color(black, 0.1);
    border-bottom: 0.3rem solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 0.3rem solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: inline-block;
  transform: translateY(0);
  transition: all .2s; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      display: block;
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

.form__radio-button {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #55c57a;
  border-radius: 1000px;
  position: absolute;
  top: -.4rem;
  left: 0; }
  .form__radio-button::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    background-color: #55c57a;
    border-radius: 1000px;
    opacity: 0;
    transition: all .3s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(45, 45, 45, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 2500;
  visibility: hidden;
  opacity: 0;
  transition: all .3s; }
  @supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    .popup {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background-color: rgba(45, 45, 45, 0.3); } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
    .popup:target .popup__content {
      width: 80%; }
  .popup__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.3);
    transition: all .5s;
    opacity: 0; }
  .popup__left {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (max-width: 56.25em) {
      .popup__left {
        display: none; } }
  .popup__right {
    width: calc(100% / 3 * 2);
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media (max-width: 56.25em) {
      .popup__right {
        width: 100%; } }
  .popup__img {
    object-fit: cover;
    flex-basis: 50%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #999;
    hyphens: auto; }
    @media (max-width: 37.5em) {
      .popup__text {
        column-count: 1;
        column-gap: 0;
        column-rule: none;
        overflow-y: scroll; } }
  .popup__close:link, .popup__close:visited {
    text-decoration: none;
    color: #999;
    font-size: 4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    line-height: 1; }
  .popup__close:hover {
    color: #55c57a; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }

.footer {
  width: 100%;
  background-color: #2d2d2d;
  padding: 10rem 0; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__row {
    display: flex;
    flex-direction: row; }
    @media (max-width: 56.25em) {
      .footer__row {
        flex-direction: column; } }
  .footer__img {
    display: block;
    margin: 0 auto;
    width: 15rem;
    height: auto; }
  .footer__logo-box {
    padding: 0 0 10rem 0; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        padding: 0 0 5rem 0; } }
  .footer__links {
    width: fit-content;
    margin: 0 auto;
    border-top: solid #FFFFFF 0.1rem;
    padding-top: 1rem; }
    @media (max-width: 56.25em) {
      .footer__links {
        max-width: 50rem;
        width: 80%;
        margin-bottom: 3rem; } }
  .footer__link:link, .footer__link:visited {
    display: inline-flex;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2d2d2d;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .2s; }
    @media (max-width: 75em) {
      .footer__link:link, .footer__link:visited {
        font-size: 2.32vw;
        max-font-size: 1.3rem; } }
  .footer__link:hover, .footer__link:active {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
    transform: rotate(10deg) scale(1.1);
    color: #55c57a; }
  .footer__textbox {
    width: 40%;
    margin: 0 auto;
    padding-top: 1rem;
    border-top: solid #FFFFFF 0.1rem; }
    @media (max-width: 56.25em) {
      .footer__textbox {
        max-width: 50rem;
        width: 80%; } }
  .footer__text {
    color: #FFFFFF; }
    @media (max-width: 75em) {
      .footer__text {
        font-size: 1.3rem; } }
  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .footer__list-item {
    display: inline-block; }
    .footer__list-item:not(:last-child) {
      margin-right: 1rem; }

.navigation__checkbox {
  display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(100); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__hamburger {
    transform: translate(-50%, -50%) rotate(45deg); }
  .navigation__checkbox:checked ~ .navigation__button .navigation__hamburger::before {
    transform: rotate(90deg);
    bottom: 0; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__hamburger::after {
    opacity: 0; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  position: fixed;
  z-index: 2000;
  background-color: #FFFFFF;
  cursor: pointer;
  top: 6.25rem;
  right: 6.25rem;
  border-radius: 50%;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  transition: all .2s; }
  .navigation__button:hover .navigation__hamburger::after {
    top: 1rem; }
  .navigation__button:hover .navigation__hamburger::before {
    bottom: 1rem; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 3rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 3.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__link {
  display: inline-block; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 3rem;
    font-weight: 300;
    color: #FFFFFF;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 50%, #FFFFFF 50%);
    background-size: 230%;
    transition: all .4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  .navigation__link span {
    margin-right: 1rem; }

.navigation__hamburger {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: 2px;
  width: 40%;
  background-color: #2d2d2d;
  transition: all .2s; }
  .navigation__hamburger::before {
    content: "";
    position: absolute;
    bottom: .8rem;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #2d2d2d;
    transition: all .2s; }
  .navigation__hamburger::after {
    content: "";
    position: absolute;
    top: .8rem;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #2d2d2d;
    transition: all .2s; }

/* vh is vertical height. This is saying element should be 95% of view height
 in URL, .. goes one level up (like a terminal command)
 cover - whatever the width is of the box, they will try to fit the image in the box.

 background-position: So by default, the top of the image is never cropped.
 We can set to bottom, which means bottom stays the same, top gets cropped off
 Center means that the image gets cropped on top and bottom

 Gradient - always use background image property

 clip-path: where you want the element to be visible
 bennettfeely.com/clippy is a good resource to make the polygon params
 */
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* This will be 40px from the top and left corner*/
  /* Width will scale accordingly by default*/
  /*
  Setting top and left to 50% won't center the object. Instead, it will center the reference
  Point of the box, which is the top left corner, in relation to the parent element
  To fix this, we can use the translate function, which takes two parameters.
  This specifies translations to x and y, and those values are in relation to the width of the box.
  */ }
  @media (min-resolution: 192dpi) and (max-width: 600px), (min-width: 2000px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  font-size: 1.6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 75em) {
    .row {
      padding: 0 3rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^="col"] {
    float: left; }
    .row [class^="col"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem*2)/3); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem*3)/4); }
  .row .col-2-of-3 {
    width: calc((100% - 6rem * 2) / 3 * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc((100% - 6rem*3)/4*3 + 6rem*2); }
