@mixin clearfix {
 // adds a pseudo-element after the element which will clear the floats and keep the height of rows
  &::after {
    content: "";
    display: table; // This is the standard value of the method
    clear: both; // Works on both float left and right
  }
}

@mixin absCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager
/*
0-600px : Phone
600px - 900px: tablet portrait
900-1200px: tablet landscape
[1200-1800px] is normal styles
1800px+ - large desktop.
 */
//
//@mixin respond-phone {
//  @media (max-width: 600px) {
//    @content;
//  }
//}

/*
    $breakpoint choices
    - phone
    - tab-port
    - tab-land
    - big-desktop
 */
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // Only screen means that these rules won't apply when printing out the page, etc.
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desk {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
